* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Poppins", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background: linear-gradient(300deg, #242424, #072032);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

form {
  display: flex;
  min-height: 50vh;
  min-width: 45vw;
  background-color: white;
  color: #777474;
  border-radius: 2rem;
  padding: 3rem 5rem;
}

.title {
  color: #072032;
}

.contact-left,
.contact-right {
  flex: 1;
}

.contact-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border: none;
  background: transparent;
  outline: none;
  color: #777474;
}

.input-container {
  position: relative;
}

.placeholder {
  z-index: 1;
  position: relative;
  pointer-events: none;
  font-size: 0.8rem;
  opacity: 0.8;
  transform-origin: left;
}

.line-svg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  overflow: visible;
  opacity: 0.8;
}

.checkbox-label {
  font-size: 0.7rem;
  padding-left: 0.2rem;
}

.promo-container {
  position: relative;
  display: flex;
  align-items: center;
}

.checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.checkbox-container {
  position: relative;
  width: 1rem;
  height: 1rem;
  border-radius: 3px;
  overflow: hidden;
}

.checkmark {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #c5c5c5;
}

.checkbox-fill {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #6190e8;
  top: 100%;
}

.tick-mark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.6);
}

button {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.6rem;
  background-color: #6190e8;
  color: white;
  border-radius: 0.3rem;
  border-style: none;
  padding: 0.5rem 2.5rem;
  cursor: pointer;
  margin-top: 1rem;
  align-self: flex-start;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background: linear-gradient(90deg, #6190e8, #a7bfe8);
  }
}
